
<h1 class="page-header">Lista de Unidades de Medida</h1>
<a [routerLink]="['/unit-measures', 0]" class="btn btn-info">
    <span class="glyphicon glyphicon-info-sign"></span>
    Adicionar
</a>

<div class="container mat-elevation-z8">

    <div class="header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
        </mat-form-field>
    </div>
            

    <mat-table #table [dataSource]="dataSource" matSort >

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
                <a [routerLink]="['/unit-measures', row.id]" class="btn btn-info">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Detalhes
                </a>
                <button class="btn btn-danger" (click)="deleteUnitMeasure(row)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Excluir
                </button>
            </mat-cell>
        </ng-container>
    

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
</div>

